@font-face {
    font-family: "Reenie Beanie";
    src: url(fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf);
  }
  @font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto);
  }
  body {
    background-color: #fcebd5;
    overflow-x: hidden;
  }
  
  /* Landing page */
  .h1-header {
    font-family: "Reenie Beanie";
    color: #a16a5e;
    font-size: 35px;
  }
  header {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  }
  .artist-visitors {
    width: 400px;
  }
  .artist {
    width: 100%;
    height: 500px;
    background-color: #edd5bb;
    clip-path: polygon(0% 0%, 168% 0%, 200% 129%, 0% 56%);
  }
  .artist:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: transform 0.3s ease, z-index 0s ease 0s;
    cursor: pointer;
  }
  .artist h2 {
    color: #a16a5e;
    font-family: "Reenie Beanie";
    font-size: 40px;
    margin-top: 25px;
  }
  .select-artist {
    background-color: #edd5bb;
    color: #a16a5e;
    border: 1px solid #a16a5e;
    border-radius: 2px;
    width: 100px;
    height: 50px;
    margin-left: 170px;
    margin-bottom: 200px;
  }
  .select-artist:hover {
    cursor: pointer;
  }
  .visitors {
    margin-top: -221px;
    padding: 200px 0px 5px 0px;
    width: 100%;
    height: 500px;
    background-color: #a16a5e;
    clip-path: polygon(0% 0%, 338% 60%, 720% 77%, 0% 66%);
  }
  .visitors a{
    text-decoration: none;
  }
  .visitors h2 {
    background-color: #a16a5e;
    color: #edd5bb;
    font-family: "Reenie Beanie";
    font-size: 40px;
    margin-top: 100px;
  }
  .visitors:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    cursor: pointer;
  }
  /* Landing page */
/* Artist - Home page */
.artist-home{
    position: relative;
    z-index: 0; 
    padding: 10px;
  }
  .logo-container {
    position: relative;
  }
  .artist-home-logo{
    padding-top: 35px;
    position: absolute;
    top: -50px; 
    left: 20%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
  }
  .nav-link{
    color: #A16A5E;
  }
  .nav-item {
    text-align: center;
  }
  .section-sold-income{
    background-color: #edd5bb;
    padding: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }
  .total-items-sold, .total-income{
    background-color: #A16A5E;
    color: #fcebd5;
    padding: 15px;
    margin: 10px;
  }
  .auctioning-item{
    background-color: #d44c2e;
    color: #fcebd5;
    width: 50%;
    padding: 15px;
  }
  /* Artist - Home page */
  
  /* Chart */
.sevendays{
    background-color: #A16A5E;
    border: none;
    color: white;
    padding: 10px;
    margin-right: 10px;
  }
  .fourteendays{
    background-color: #A16A5E;
    border: none;
    color: white;
    padding: 10px;
    margin-right: 10px;
  }
  .thirtydays{
    background-color: #A16A5E;
    border: none;
    color: white;
    padding: 10px;
  }
  /* Chart */
/* Artist - Items page */
.artist-items{
    position: relative;
    z-index: 0; 
    padding: 10px;
  }
  .logo-container {
    position: relative;
  }
  .artist-items-logo{
    padding-top: 35px;
    position: absolute;
    top: -50px; 
    left: 20%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .navbar-nav {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .nav-link{
    color: #A16A5E;
  }
  .nav-link:hover{
    color: #ae928c;
  }
  .nav-item {
    text-align: center;
  }
  .addItem{
    background-color: #EDD5BB;
  }
  .add-item{
    background-color: #FCEBD5;
    width: 100%;
    padding: 70px;
    border: none;
    color: #A16A5E;
    cursor: pointer;
  }
  .newitem{
    border: 3px dashed #A16A5E;
    padding: 90px;
  }
  
  .fa-plus{
    color: #A16A5E;
    margin-right: 10px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    position: relative;
  }
  .cardsitems{
    width: 100%;
    background-color: #D44C2E;
  }
  
  /* Add New Items - Modal */
  .modal .modal-content{
    background-color: #A16A5E;
    color: #EDD5BB;
    padding: 30px;
  }
  .form-group input{
    background-color: #A16A5E;
  }
  .form-group textarea{
    background-color: #A16A5E;
  }
  .form-group select{
    background-color: #A16A5E;
  }
  .form-label{
    margin-bottom: 10px;
  }
  
  /* Artist - Items */
  .card-buttons{
    background-color: #A16A5E;
    padding: 15px;
  }
  .publish-Btn{
    background-color: #1BAC6F;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }
  .remove-Btn{
    background-color: #D44C2E;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }
  .edit-Btn{
    background-color: #FCEBD5;
    color: #A16A5E;
    border: none;
    padding: 10px;
  }
  /* Artist - Items page */